.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
  font-size: rem(100px) !important;
  font-weight: 900 !important;
  letter-spacing: rem(-2px) !important;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
